html {
    /*height: 100%;*/
}
body {
    margin: 0;
    /*height: 100%;*/
}

.l-header{
    background: #222;
    height: 20vh;
}
.l-content{
    background: #333;
    height: 60vh;
}
.l-footer{
    background: #444;
    height: 20vh;
}
.sea{
    /* CSS variable / custom properties */
    --wave-color: darkblue;
}

.sea .wave{
    /*border: 1px solid red;*/
    height: 100px;
    background-color: var(--wave-color);
}

.sea .wave::before{
    content: "";
    display: block;

    height: 100px;

    background-image: radial-gradient(var(--wave-color) 47%, transparent 47%);
    background-position: 50px 32px;
    background-size: 100px 300px;
    background-repeat: repeat-x;

    transform: translateY(-120px);
}

.sea .wave::after{
    content: "";
    display: block;

    height: 100px;

    background-image: radial-gradient(transparent 44%, var(--wave-color) 43%); 
    background-position: 0px -40px;
    background-size: 100px 75px;
    background-repeat: repeat-x;

    transform: translateY(-120px);
}


/* TORPEDO STYLES */

.center{
        /* absolute center */
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
}
.sea .torpedo {
    position: relative;

    width: 200px;
    height: 200px;
    border: 1px solid green;
}
.sea .torpedo .head {
    position: absolute;
    width: 60px;
    height: 60px;

    background-color: red;
    border-radius: 100%;
}
.sea .torpedo .body {
    position: absolute;
    width: 50px;
    height: 50px;

    background-color: #555;
    border-radius: 100%;
}
.sea .torpedo .tail {
    position: absolute;
    width: 30px;
    height: 30px;

    background-color: #999;
    border-radius: 100%;
}
.sea .torpedo .tail-v{
    position: absolute;

    height: 100px;
    width: 10px;
    background-color: #777;
}
.sea .torpedo .tail-h{
    position: absolute;

    height: 10px;
    width: 100px;
    background-color: #777;
}

/* TORPEDO REVERSE */

.sea .torpedo.reverse .head{
    z-index: 3;
    width: 40px;
    height: 40px;
}
.sea .torpedo.reverse .body{
    z-index: 2;
    width: 55px;
    height: 55px;
}
.sea .torpedo.reverse .tail{
    z-index: 0;
    width: 60px;
    height: 60px;
}
.sea .torpedo.reverse .tail-v{
    z-index: 1;
}
.sea .torpedo.reverse .tail-h{
    z-index: 1;
}